<p id="notice"><%= notice %></p>

<p>
  <strong>Data registro:</strong>
  <%= @registro_diario.data_registro %>
</p>

<%= link_to 'Edit', edit_registro_diario_path(@registro_diario) %> |
<%= link_to 'Back', registro_diarios_path %>
